<p>Hola mundo: {{ title }}</p>

<p>La suma de 2 y 2 es: {{2+2}}</p>

<p>El resultado de duplicar el número 5 es: {{duplicarNumero(5)}}</p>

<p>La película publicada: {{pelicula.titulo}} fue publicada con fecha {{pelicula.fecha |date:"dd/MM/yyyy"}} </p>

<h2>Películas en cartelera</h2>
<app-lista-peliculas [peliculas]="peliculasCartelera"></app-lista-peliculas>


<h2>Próximos estrenos</h2>
<app-lista-peliculas [peliculas]="peliculasEstrenos"></app-lista-peliculas>


<button (click)="handleClick()">Actualizar</button>